@import url('https://fonts.googleapis.com/css?family=Inconsolata|PT+Sans');

.list a{ font-family: 'PT Sans', sans-serif !important; }
.list{ font-family: 'Inconsolata', sans-serif; }

div[id*="row-"] .r1{ display: inline-block; }

a.tube {width: 24px; height: 14px;}
.imdb { width: 35px; height: 14px; }
.star{ width: 16px; height: 16px; }

span.imdb_genres {
    display: inline-block;
    width: 300px;
    overflow: hidden;
    height: 14px;
}

span.imdb_rating {
    display: inline-block;
    width: 185px;
    overflow: hidden;
    height: 14px;
    font-family: monospace;
}